<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <div class="changePassword-register fondo shadow-lg">
    <div class="changePassword-box card">
      <div class="card-body">
        <form class="form-horizontal form-material form-group" autocomplete="off" [formGroup]="forma">
          <h3 class="box-title m-b-20" style="text-align: center; margin-bottom: 1.5rem;">Cambio de Contraseña <i
              class="fa fa-lock"></i></h3>

          <div class="iniciaSesion">
            <label style="font-weight: bold;">Nueva contraseña:</label>
            <input type="password" class="form-control" formControlName="pass1" [class.is-invalid]="pass1NoValido"
              onPaste="return false" onCopy="return false">
            <small *ngIf="pass1NoValido" class="text-danger">
              Ingrese mínimo 8 caracteres
            </small>
            <div class="space"></div>

            <label style="font-weight: bold;">Repita nueva contraseña:</label>
            <input type="password" class="form-control" formControlName="pass2" [class.is-invalid]="pass2NoValido"
              onPaste="return false" onCopy="return false">
            <small *ngIf="pass2NoValido" class="text-danger">
              Repita contraseña
            </small>

            <div class="space"></div>

            <button class="btn btn-lg btn-primary btn-block" type="button"
              (click)="actualizarNuevaContrasenia()">Guardar Contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
