<mat-form-field class="col-sm col-md col-lg">
  <mat-label>{{ titulo }}</mat-label>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [readonly]="!editable">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
    [panelWidth]="'co-12 col-sm-12 col-md-10 col-lg-8 col-xl-8'">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <small>
        <span>Folio: {{option.nIdCorte}}</span> |
        <span>{{ option.NombreRubro }}</span> |
        <span>Fecha Corte: {{ option.dFechaCorte | date: 'yyyy-MM-dd' }}</span> |
        <span>Total: {{ option.nTotal | FormatearNumero }}</span> |
        <span>Pagado: {{ option.bPagado | SiNo }}</span> |
        <span>Activo: {{ option.bActivo | SiNo }}</span>
      </small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
