<div class="container container-sm container-md container-lg contenido text-center mb-5">
  <h3 class="mb-2">Consulta Empleados Con Sueldo</h3>
  <div class="row mb-5 mt-3">
    <div class="col text-left">
      <div class="mat-elevation-z8 height-sm height-nm height-md height-lg tableFixHead">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
          <!-- Codigo Column -->
          <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por codigo"> Codigo
            </th>
            <td mat-cell *matCellDef="let row"> {{ row.Codigo }} </td>
          </ng-container>
          <!-- Nombre Column -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por Nombre">Nombre
            </th>
            <td mat-cell *matCellDef="let row"> {{ row.Nombre }} </td>
          </ng-container>
          <!-- Sueldo Diario Column -->
          <ng-container matColumnDef="SueldoDiario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por Sueldo"> Sueldo Diario
            </th>
            <td mat-cell *matCellDef="let row"> {{ row.SueldoDiario | FormatearNumero }} </td>
          </ng-container>
          <!-- Puesto Column -->
          <ng-container matColumnDef="Puesto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por Puesto"> Puesto </th>
            <td mat-cell *matCellDef="let row"> {{row.Puesto }} </td>
          </ng-container>
          <!-- Departamento Column -->
          <ng-container matColumnDef="Departamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por Departamento"> Departamento </th>
            <td mat-cell *matCellDef="let row"> {{ row.Departamento }} </td>
          </ng-container>
          <!-- Puesto Padre Column -->
          <ng-container matColumnDef="PuestoPadre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenado por PuestoPadre"> Puesto Padre </th>
            <td mat-cell *matCellDef="let row"> {{row.PuestoPadre}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron datos para</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
