<!-- ============================================================== -->
<!--Form para capturar el usuario-->
<!-- ============================================================== -->
<section id="wrapper">
  <div class="formRecuperacionContrasenia-style fondo">
    <div class="recuperacionContrasenia-box card">
      <div class="card-body" style="text-align: center;">
        <form class="form-horizontal form-material form-group" autocomplete="off"
          [formGroup]="formaRecuperacionContrasenia">
          <h3 class="box-title m-b-20" style="text-align: center; margin-bottom: 1.5rem;">Recuperar Contraseña <i
              class="fa fa-lock"></i></h3>

          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="text" placeholder="Usuario o Correo" autocomplete="off"
                (keyup.enter)="validarUsuario(buscarUsuario.value)" #buscarUsuario formControlName="inputUsuario">
              <br>
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary" [routerLink]="['/login']">
                  <i class="fa fa-arrow-left mr-3"></i>Regresar</button>

                <button type="button" class="btn btn-primary" (click)="validarUsuario(buscarUsuario.value)">
                  <span *ngIf="trabajando">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Enviando Correo
                  </span>
                  <span *ngIf="!trabajando">
                    Enviar Correo<i class="fa fa-arrow-right ml-3"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
