<form class="form-horizontal form-material form-group" id="cambiarPass" #cambiarPass="ngForm"
  (ngSumit)="cambiarPassword( cambiarPass )">
  <input class="form-control" type="text" [ngModel]="usuario" name="usuario" id="userName" #userName
    placeholder="Usuario" hidden autocomplete="username" />
  <div class="form-group">
    <div class="col">
      <input class="form-control" type="password" [(ngModel)]="passwordActual" name="passwordActual"
        #passActual="ngModel" required maxlength=50 minlength=8 placeholder="Contraseña Actual"
        autocomplete="current-password" autofocus>
      <div *ngIf="passActual.invalid && (passActual.dirty || passActual.touched)" class="alert alert-danger">
        <div *ngIf="passActual.errors['required']">
          Contraseña requerida.
        </div>
        <div *ngIf="passActual.errors['minlength']">
          La contraseña debe tener minimo 8 caracteres.
        </div>
        <div *ngIf="passActual.errors['maxlength']">
          La contraseña debe tener maximo 50 caracteres.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col">
      <div class="input-group">
        <input class="form-control" type="password" [(ngModel)]="passwordNuevo" name="passwordNuevo" #passNvo="ngModel"
          required maxlength=50 minlength=8 placeholder="Nueva Contraseña" autocomplete="new-password">
      </div>
      <div *ngIf="passNvo.invalid && (passNvo.dirty || passNvo.touched)" class="alert alert-danger">
        <div *ngIf="passNvo.errors['required']">
          Nueva contraseña requerida.
        </div>
        <div *ngIf="passNvo.errors['minlength']">
          La nueva contraseña debe tener minimo 8 caracteres.
        </div>
        <div *ngIf="passNvo.errors['maxlength']">
          La nueva contraseña debe tener maximo 50 caracteres.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col">
      <input class="form-control" type="password" [(ngModel)]="passwordConfirmar" name="passwordConfirmar"
        #passConfirm="ngModel" required maxlength=50 minlength=8 placeholder="Confirmar Contraseña"
        autocomplete="new-password">
      <div *ngIf="passNvo.invalid && (passNvo.dirty || passNvo.touched)" class="alert alert-danger">
        <div *ngIf="passNvo.errors['required']">
          Confirmar contraseña requerida.
        </div>
        <div *ngIf="passNvo.errors['minlength']">
          La contraseña debe tener minimo 8 caracteres.
        </div>
      </div>
      <div *ngIf="passwordConfirmar != passwordNuevo" class="alert alert-danger">
        La contraseña debe ser igual a la nueva.
      </div>
    </div>
  </div>
  <div class="form-group text-center">
    <div class="col d-flex">
      <button class="btn btn-primary btn-sm btn-rounded d-flex justify-content-start" type="submit "
        (click)="cambiarPassword( cambiarPass ) ">Cambiar Contraseña</button>
      <!-- <button class="btn btn-danger btn-sm btn-rounded ml-auto" type="submit " (click)="cerrar()">Cerrar</button> -->
    </div>
  </div>
  <div *ngIf="error.length > 0" class="alert alert-danger">
    {{ error }}
  </div>
</form>
